.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
}

.left-bar {
  width: 32%;
}

.middle-bar {
  width: 32%;
}

.right-bar {
  width: 32%;
}

